<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="movieDBOp.Properties.Settings.connection" connectionString="Data Source=ANDREEA\SQLEXPRESS;Initial Catalog=MovieDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>